{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h1 class="text-center mb-4">Search Logs</h1>
    <form method="GET" action="{{ url_for('search_logs') }}" class="mb-4">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          name="query"
          placeholder="Search by project, language, or repository"
          value="{{ query }}"
        />
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
    {% if logs %}
    <div class="list-group">
      {% for log in logs %}
      <div class="list-group-item">
        <h5>Project: {{ log.project_name }}</h5>
        <p><strong>Developer:</strong> {{ log.username }}</p>
        <p>
          <strong>Start Time:</strong> {{ log.start_time.strftime('%I:%M%p
          %d/%B/%Y') }}
        </p>
        <p>
          <strong>End Time:</strong> {{ log.end_time.strftime('%I:%M%p
          %d/%B/%Y') }}
        </p>
        <p>
          <strong>Diary Entry Time:</strong> {{
          log.diary_entry_time.strftime('%I:%M%p %d/%B/%Y') }}
        </p>
        <p><strong>Time Worked:</strong> {{ log.time_worked }} hours</p>
        <p>
          <strong>Repo:</strong>
          <a href="{{ log.repository }}" target="_blank"
            >{{ log.repository }}</a
          >
        </p>
        <p><strong>Developer Notes:</strong> {{ log.developer_notes }}</p>
        <pre><code>{{ log.code_content }}</code></pre>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p class="text-center">No Logs Found.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
